Package: com.socuul.scinsta
Name: CustomInsta
Version: 0.6.0
Architecture: iphoneos-arm
Description: A feature-rich tweak for Instagram on iOS!
Maintainer: Me
Author: Me
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
